@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;600;700&display=swap');

/* --- Réglages de base --- */
:root {
  --bar-navigation-couleur-texte:#ffcc00;
  --couleur-texte-principal: #1C1C1C;
}

/*  Fond animé  */
#network-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* derrière le contenu */
  background: whitesmoke;
  background-attachment: fixed;
}


body{
    background-color:#f9f9f9;
    /* background: linear-gradient(0.85turn, #ff0000, #0037ff); */
    margin: 0;
    padding-top: 60px;
}

* {
  box-sizing: border-box;
}


h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--couleur-texte-principal);
}

p, li, span {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: var(--couleur-texte-principal);
  line-height: 1.7;
}




/* --- Barre de navigation fixe --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  padding: 0px 0px 0px 20px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  overflow: hidden;
}

.navbar .logo {
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--bar-navigation-couleur-texte);
}

/* === Lien actif (page actuelle) === */
.nav-links a.active {
  position: relative;
  color:  var(--bar-navigation-couleur-texte);
}

/* La petite barre sous le lien actif */
.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* espace entre le texte et la barre */
  width: 100%;
  height: 3px;
  background-color:  var(--bar-navigation-couleur-texte);
  border-radius: 2px;
}



/* TEXTE EN TETE */

.en_tete{
    display: flex;
    justify-content: center;
    width:auto;
    height: auto;
    padding-top: 10px;
}

.en_tete_texte{
    border-radius: 10px;
    width:auto;
    display: flex;
    color: var(--couleur-texte-principal);
    background-color:#f1f1f1 ;
    font-size: 76px;
    margin: 0px;
    padding: 10px 10px;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.4);
}

/* --- Animations --- */

/* Animation d'apparition avec glissement du haut */
@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Application annimation au titre */
.en_tete_texte{
  animation: fadeSlideDown 1s ease-out;
}





/* --- Pied de page --- */
.footer {
  text-align: center;
  background-color: #2d2d2d;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin-top: 80px;
}
.footer * {
  color: #ffffff;
}
